@import '../../styles/utils/variables.module.scss';

.custom-dropdown {
  position: relative;

  &__button {
    align-items: center;
    border: 1px solid $element-color;
    cursor: pointer;
    display: flex;
    font: inherit;
    height: 40px;
    justify-content: space-between;
    padding: 10px 12px;
    position: relative;
    width: 100%;
    border: 1px solid $element-color;

    &:hover {
      border-color: $element-color;
    }
  }

  &__title {
    font-family: 'Mont';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: $primary-color;
  }

  &__icon {
    height: 16px;
    width: 16px;
    transition: transform 0.3s ease;
  }

  &__list-wrapper {
    background-color: $white-color;
    box-shadow: 0 2px 15px 0 #0000001a;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: calc(100% + 24px);
    transform: translateY(-10%);
    transform-origin: top center;
    transition: transform 0.3s ease;
    z-index: 1;
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    padding: 10px 12px;
    font-family: 'Mont';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: $secondary-color;
    cursor: pointer;

    &:hover {
      background-color: $hover-background-color;
      color: $primary-color;
    }
  }

  &__icon.open {
    transform: rotate(180deg);
  }

  &__list-wrapper--open {
    max-height: 200px;
    opacity: 1;
    overflow: visible;
    pointer-events: auto;
    transform: translateY(0);
  }
}
