@import '../../styles/utils/variables.scss';
@import '../../styles/utils/mixins.scss';

.product-page {
  &__header {
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -1%;
    margin-top: 0;
    margin-bottom: 8px;
  }

  &__quantity {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: $secondary-color;
  }

  &__filters {
    @include page-grid;
    margin-top: 32px;
    margin-bottom: 24px;
    column-gap: 16px;
  }

  &__filter {
    display: flex;
    flex: 1;
    flex-direction: column;
    
    &--sort {
      grid-column: span 2;
  
      @include on-tablet {
        grid-column: span 4;
      }
    }
  
    &--items {
      grid-column: 3 / 5;
  
      @include on-tablet {
        grid-column: 5 / 8;
      }
    }
  }
}

.select-label{
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: $secondary-color;
}

.select {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  padding: 10px 12px;
  border: 1px solid $icon-color;
}

.active {
  background-color: white;
}