@import '../../styles/utils/variables.module.scss';

.go-back {
  display: flex;
  align-items: center;

  &__link {
    margin-top: 2px;
    font-weight: 700;
    font-size: 12px;
    color: var(--secondary-color);
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
  }
}