@import '../../styles/utils/mixins.scss';

.container {
  box-sizing: border-box;
  width: 100%;
  margin-inline: auto;
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-desktop {
    max-width: 1136px;
    padding-inline: 0px;
  }
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.main_layout {
  text-align: center;
}

@include on-desktop {
  .header_layout,
  .footer_layout {
    &--lg {
      margin: 0 auto;
      width: 100%;
      max-width: 1440px;
    }
  }
}
