@import '../../styles/utils/mixins.scss';

.grid {
  display: grid;
  grid-template-rows: 1fr auto;

  box-sizing: border-box;
  width: 100%;
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-desktop {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 32px;
  }
}


