@import '../../styles/utils/mixins.scss';
@import '../../styles/utils/variables.module.scss';

.disable-scroll {
  height: 100%;
  overflow: hidden;
}

.menu {
  background-color: var(--background-color);
  left: 0;
  top: 49px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  overflow-y: hidden;

  @include on-medium-tablet {
    display: none;
  }

  &__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    list-style: none;
    flex-direction: column;
  
  
    &__link {
      position: relative;
      display: flex;
      align-items: center;
      padding: 8px 0 8px 0;
  
      font-size: 12px;
      font-family: 'Mont';
      text-decoration: none;
      text-transform: uppercase;
      color: var(--secondary-color);
  
      @include hover(color, var(--primary-color));
  
      &--active {
        color: var(--primary-color);
  
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          height: 3px;
          width: 100%;
          background-color: var(--primary-color);
        }
      }
    }
  
    &__icons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 64px;
    }
  
    &__icon {
      &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
          width: 50%;
        }
        
  
        &--favourites {
          border-color: var(--element-color);
          border-style: solid;
          border-width: 1px 1px 0 0;
        }
  
        &--cart {
          border: var(--element-color);
          border-style: solid;
          border-width: 1px 0 0 0;
        }
      }
    }
  }
}

@include on-tablet {
  .nav__icons {
    display: none;
  } 
}

