@import '../../styles/utils/variables.module.scss';
@import '../../styles/utils/mixins.scss';

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact__container {
    width: 100%;
    max-width: 300px;
    height: 400px;
    margin: 20px;
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.contact__container:hover {
    transform: translateY(-20px);
}

.contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contact__img .img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.contact__name {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
    margin-top: 10px;
    margin-bottom: 5px;
    white-space: nowrap;
}

.contact__text {
    font-size: 14px;
    font-weight: 600;
    color: #89939a;
    margin-bottom: 10px;
    white-space: nowrap;
}

.contact__github {
    position: absolute;
    bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    max-width: 200px;
    height: auto;
    background-color: #313237;
    border: none;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
    padding: 10px;

    &:hover {
        box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.4);
    }
}

.contact__container:hover .contact__github{
    opacity: 1;
}

.contact__github a {
    color: #fff;
}

.contact__github a:hover {
    color: #fff;
}
