@import '../../styles/utils/mixins.scss';

.images {
  height: 353px;

  @include on-tablet {
    height: 288px;
  }
}

.images__main-image {
  height: 275px !important;
}

.images__swiper--main {
  height: 288px;
  display: flex !important;
  align-items: center;
}

.images__sidebar-image {
  height: 43px !important;
  object-fit: contain !important;
}





.images__swiper--sidebar {
  height: 49px;
  width: 288px;

  .swiper-slide {
    width: 51px !important;
    border: 1px solid #E2E6E9;
  }

  .swiper-wrapper {
    height: 49px;
    gap: 8px;
  }
}
