@import '../../styles/utils/variables.module.scss';

.circle {
  position: absolute;
  bottom: 50%;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  border: 1px solid var(--white-color);
  border-radius: 50%;
  background-color: var(--red-color);
  
  &--text {
    font-size: 10px;
    font-weight: 700;
    color: var(--white-color);
  }
}