@import '../../styles/utils/mixins.scss';

.product-slider-container {
  &__wrapper-title-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__btn--wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

.custom-prev-button,
.custom-next-button {
  width: 32px;
  height: 32px;
  border: 1px solid $icon-color;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    border: 1px solid $primary-color;
  }
}

.custom-prev-button {
  background-image: url('../../assets/icons/arrow-left.svg');
}

.custom-next-button {
  background-image: url('../../assets/icons/arrow-right.svg');
}

.swiper-button-disabled {
  border: 1px solid $element-color;
}

.products-swiper .swiper-slide {
  width: 288px;
}

button.custom-prev-button.swiper-button-disabled {
  background-size: 58%;
  background-image: url('../../assets/icons/chevron-left.svg');
}

button.custom-next-button.swiper-button-disabled {
  background-size: 58%;
  background-image: url('../../assets/icons/chevron-right.svg');
}
