@import '../../styles/utils/mixins.scss';

.product-slider-container {
  &__wrapper-title-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__btn--wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  &__btn {
    width: 32px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &--plus {
      color: $primary-color;
      border: 1px solid $icon-color;
    }

    &--minus {
      color: $primary-color;
      border: 1px solid $icon-color;
    }
  }
}

.custom-prev-button,
.custom-next-button {
  width: 32px;
  height: 32px;
  border: 1px solid $icon-color;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-disabled {
  border: 1px solid $element-color;
  pointer-events: none;
}

.products-swiper .swiper-slide {
  width: 288px;
}
