@import '../../styles/utils/mixins.scss';
@import '../../styles/utils/variables.scss';

.product__path {
  background-color: #ffcc00;
}

.product__back {
  background-color: #ff6666;
}

.product__images {
  background-color: #66ccff;
}

.product__about {
  background-color: #66ff99;
}

.product__specs {
  background-color: #ff99cc;
}

.product__also-like {
  background-color: #cccccc;
}

.product__title {
  background-color: #ffcc00;
}

.product__price {
  background-color: #ff6696;
}

.product {
  &__grid {
    @include page-grid;
  }

  &__path,
  &__back,
  &__title,
  &__images,
  &__about,
  &__specs,
  &__also-like,
  &__price {
    grid-column: 1 / 5;
  }

  &__path {
    margin-block: 24px;
  }

  &__back {
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__images {
    margin-bottom: 16px;
    height: 288px;
  }

  &__specs,
  &__about,
  &__also-like,
  &__price {
    margin-bottom: 56px;
  }

  @include on-tablet {
    &__path,
    &__back,
    &__title,
    &__specs,
    &__about,
    &__also-like {
      grid-column: 1 / 13;
    }

    &__path {
      margin-bottom: 40px;
    }

    &__title {
      margin-bottom: 40px;
    }

    &__images {
      grid-column: 1 / span 7;
      margin-bottom: 0;
    }

    &__about {
      margin-block: 64px;
    }

    &__price {
      grid-column: 8 / span 5;
      margin-bottom: 0;
    }

    &__specs,
    &__also-like {
      margin-bottom: 64px;
    }
  }

  @include on-desktop {
    &__path {
      grid-column: 1 / 25;
    }

    &__back {
      grid-column: 1 / 4;
    }

    &__title {
      grid-column: 1 / 25;
    }

    &__images {
      grid-column: 1 / span 12;
    }
    &__price {
      grid-column: 13 / span 12;
    }

    &__about {
      grid-column: 1 / span 12;
      margin-top: 80px;
    }

    &__specs {
      grid-column: 13 / span 12;
      margin-top: 80px;
    }

    &__also-like {
      grid-column: 1 / 25;
      margin-block: 80px;
    }
  }
}
