/* styles.css */

.dark-overlay {
    filter: brightness(0.5); /* Darken the background */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; // To hide header and footer
    height: 100%;
  }
