@font-face {
  font-family: Mont;
  src: url('../../src/assets/fonts/Mont-Bold.otf');
  font-weight: 800;
}

@font-face {
  font-family: Mont;
  src: url('../../src/assets/fonts/Mont-SemiBold.otf');
  font-weight: 700;
}

@font-face {
  font-family: Mont;
  src: url('../../src/assets/fonts/Mont-Regular.otf');
  font-weight: 500;
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

html {
  font-family: Mont, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  font-family: inherit;

  &:hover {
    cursor: pointer;
  }
}