@import '../../styles/utils/mixins.scss';
@import '../../styles/utils/variables.module.scss';

.breadcrumb {
  display: flex;
  align-items: center;
  margin: 24px 0;
  overflow: hidden;
  white-space: nowrap;
  
  @include on-tablet {
    margin-bottom: 40px;
  }

  &__home {
    display: flex;
    height: 16px;
    width: 16px;
  }

  &__icon {
    margin-right: 8px;
  }

  &__part {
    display: flex;
    align-items: center;
    height: 16px;
  }

  &__part + &__part {
    margin-left: 8px;
  }
  
  &__path {
    text-decoration: none;
    margin-top: 3px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: $primary-color;

    &--last{
      color: $secondary-color;
    }
  }
}