.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--background-color);
    margin-top: 40px;
    
      &__info {
        padding: 20px;
        padding-left: 0;
      }
    
      &__title {
        margin-top: 0;
        font-weight: 700;
        font-size: 25px;
        line-height: 150%;
        color: var(--primary-color);
        margin-bottom: 8px;
        text-decoration: none;
      }
      
      &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 150%;
        color: var(--primary-color);
        margin-bottom: 8px;
        text-decoration: none;
      }

      &__orders {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__button {
        padding: 0;
        background-color: var(--button-color);
        border: none;
        color: var(--card-add-color);
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s;
        height: 40px;
        width: 120px;

        &:hover {
          box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.4);
          background: var(--button-add-hover-bg-color);
        }
      }
}