@import './variables.scss';

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} $effect-duration;

  &:hover {
    #{$property}: #{$toValue};
  }
}

@mixin page-grid {
  --columns: 4;

  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 12;
  }

  @include on-desktop {
    --columns: 24;
  }
}

@mixin on-small-tablet {
  @media (min-width: $small-tablet-min-width) {
    @content;
  }
}

@mixin on-medium-tablet {
  @media (min-width: $medium-tablet-min-width) {
    @content;
  }
}

@mixin items-grid {
  --columns: 1;

  display: grid;
  column-gap: 16px;
  row-gap: 40px;
  grid-template-columns: repeat(var(--columns), minmax(229px, 1fr));

  @include on-small-tablet {
    --columns: 2;
  }

  @include on-medium-tablet {
    --columns: 3;
  }

  @include on-desktop {
    --columns: 4;
  }
}
