@import '../../styles/utils/mixins.scss';
@import '../../styles/utils/variables.scss';

* {
  box-sizing: border-box;
}

.cart {
  padding-top: 24px;
  font-family: Mont, sans-serif;

  @include on-tablet {
    padding-top: 40px;
  }

  @include on-desktop {
    margin-bottom: 56px;
  }

  &__content-wrapper {
    @include on-desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 16px;
    }
  }

  &__list {
    @include on-desktop {
      width: 60%;
    }
  }

  &__item {
    padding: 16px;
    border: 1px solid $element-color;
    margin-bottom: 16px;

    @include on-tablet {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
    }

    @include on-desktop {
      width: 100%;
    }

    &-information {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 16px;

      @include on-tablet {
        gap: 24px;
      }
    }

    &-description {
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: $primary-color;
    }

    &-controller {
      display: flex;
      justify-content: space-between;

      @include on-tablet {
        gap: 24px;
      }
    }
  }

  &__item-price {
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    color: $primary-color;
  }
  &__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 128%;
    letter-spacing: -0.01em;
    color: $primary-color;
    margin-top: 24px;

    @include on-tablet {
      font-size: 48px;
      line-height: 117%;
    }
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
  }

  &__image {
    width: 66px;
    height: 66px;
  }

  &__btn {
    width: 32px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;

    &--plus {
      color: $secondary-color;
      border: 1px solid $element-color;
    }

    &--minus {
      color: $primary-color;
      border: 1px solid $icon-color;
    }
  }

  &__count--title {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #000;
    margin-left: 14px;
    margin-right: 14px;
  }

  &__count-controller {
    width: 100px;
  }

  &__summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin-block: 32px 56px;
    border: 1px solid $element-color;
    position: relative;

    @include on-desktop {
      width: 40%;
      margin: 0;
    }
  }

  &__total-price {
    font-weight: 800;
    font-size: 32px;
    line-height: 128%;
    letter-spacing: -0.01em;

    &--label {
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: $secondary-color;
      margin-bottom: 32px;

      &:after {
        content: '';
        display: block;
        width: calc(100% - 48px);
        height: 1px;
        background-color: $element-color;
        position: absolute;
        bottom: 86px;
        left: 24px;
        right: 24px;
      }
    }
  }

  &__submit-btn {
    background-color: $primary-color;
    border: none;
    width: 100%;
    height: 48px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: $white-color;
    cursor: pointer;
  }
}

.button-go-back {
  display: flex;
  align-items: center;

  &__img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  &__link {
    font-family: Mont, sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: $secondary-color;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
  }
}
