@import '../../styles/utils/mixins.scss';
@import '../../styles/utils/variables.module.scss';

* {
  box-sizing: border-box;
}

.cart {
  margin-top: 24px;
  font-family: Mont, sans-serif;

  @include on-tablet {
    margin-top: 40px;
  }

  @include on-desktop {
    margin-bottom: 56px;
  }

  &__title {
    margin-bottom: 32px;
    font-weight: 800;
    line-height: 117%;
    letter-spacing: -0.01em;
    margin-top: 16px;
  }

  &__content-wrapper {
    @include on-desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 16px;
      margin-top: 32px;
    }
  }

  &-item__count {
    color: var(--primary-color);
  }

  &__summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin-block: 32px 56px;
    border: 1px solid var(--element-color);
    position: relative;
    color: var(--primary-color);

    @include on-desktop {
      width: 40%;
      margin: 0;
    }
  }

  &__total-price {
    font-weight: 800;
    font-size: 32px;
    line-height: 128%;
    letter-spacing: -0.01em;

    &--label {
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: var(--secondary-color);
      margin-bottom: 32px;

      &:after {
        content: '';
        display: block;
        width: calc(100% - 48px);
        height: 1px;
        background-color: var(--element-color);
        position: absolute;
        bottom: 86px;
        left: 24px;
        right: 24px;
      }
    }
  }

  &__submit-btn {
    background-color: var(--button-color);
    border: none;
    width: 100%;
    height: 48px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: var(--white-color);
    cursor: pointer;
    transition: all $effect-duration;

    &:hover {
      box-shadow: $hover-shadow;
      background-color: var(--button-add-hover-bg-color);
    }
  }

  &__empty {
    text-align: center;
    margin-top: 0;

    &--img {
      width: 250px;
      margin-bottom: 20px;
    }
  }

  &__text {
    color: var(--secondary-color);
  }
}

.modal {
  &__btn-wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__title {
    margin: 0;
    margin-bottom: 32px;
  }

  &__btn {
    border: none;
    height: 40px;
    width: 68px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    transition: all $effect-duration;

    &:hover {
      box-shadow: $hover-shadow;
    }

    &--no {
      background-color: transparent;
      border: 1px solid var(--element-color);
      color: var(--primary-color);
    }

    &--yes {
      background-color: var(--primary-color);
      color: var(--white-color);
    }
  }
}

body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
