@import '../../styles/utils/variables.module.scss';

.skeleton__summary {
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &-price {
    width: 110px;
    height: 40px;
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 4px;
    margin-bottom: 12px;
  }

  &-desc {
    width: 140px;
    height: 16px;
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 4px;
    position: relative;
    margin-bottom: 16px;
  }

  &-breakline {
    width: 100%;
    height: 1px;
    margin-bottom: 16px;
    background-color: var(--element-color);
  }

  &-button {
    width: 100%;
    height: 48px;
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 4px;
  }
}
