@import '../../styles/utils/mixins.scss';
@import '../../styles/utils/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  min-height: 48px;
  border-bottom: 1px solid $element-color;
  box-sizing: border-box;
  font-weight: 800;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 21px;
    padding-left: 16px;
  }

  &__icons {
    display: flex;
    align-items: center;
  }

  &__menu {
    height: 16px;

    &__toggler {
      border: none;
      margin: 0;
      padding: 0;
      overflow: visible;
      background: transparent;
      height: 48px;
      width: 48px;

      border-left: 1px solid $element-color;
    }
  }

  &__cart,
  &__favourites {
    display: none;
  }

  @media only screen and (min-width: 640px) {
    .header__menu__toggler {
      display: none;
    }
  }
}

.navbar {
  display: none;
  padding-left: 32px;
  gap: 32px;
  list-style: none;

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    height: 48px;

    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: $secondary-color;

    @include hover(color, $primary-color);

    &--active {
      color: $primary-color;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 100%;
        background-color: $primary-color;
      }
    }
  }

  &__icon {
    position: relative;
    display: none;
   
    height: 48px;
    width: 48px;

     border-left: 1px solid $element-color;

    @include on-tablet {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include on-desktop {
      display: flex;
      height: 64px;
      width: 64px;
    }
  }
}

@include on-tablet {
  .header {
    padding: 0 0 0 16px;

    &__logo {
      padding-left: 0;
    }

    &__menu {
      display: none;
    }

    &__cart,
    &__favourites {
      display: inline;
    }
  }

  .navbar {
    display: flex;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@include on-desktop {
  .navbar {
    gap: 64px;
    padding-left: 48px;

    &__link {
      height: 64px;
    }
  }

  .header {
    min-height: 64px;
    padding: 0 0 0 24px;

    &__logo {
      height: 27px;
    }
  }
}
