@import '../../styles/utils/mixins.scss';
@import '../../styles/utils/variables.module.scss';

.card-item__container {
  border: 1px solid var(--element-color);
  height: 160px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--card-layout-bg-color);

  @include on-tablet {
    margin-bottom: 24px;
    height: 128px;
  }

  @include on-desktop {
    width: 752px;
  }
}

.card-item {
  margin: 16px;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto 50% auto;
  justify-content: space-between;

  @include on-tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 24px;
    height: 128px;
  }
}

.cart-item__img {
  display: flex;
  width: 66px;
  height: 66px;
  margin: 1.5%;
  grid-area: 1 / 2 / 2 / 4;
}

.cross {
  border: none;
  background: none;
  grid-area: 1 / 1 / 2 / 2;

  &:hover {
    cursor: pointer;
  }
}

.cart-item__name {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: var(--primary-color);
  flex-grow: 1;
  min-width: 0;
  margin: 1.5%;
  width: 100%;
  grid-area: 1 / 4 / 2 / 5;
  text-decoration: none;
}

.cart-item__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.5%;
  grid-area: 2 / 1 / 3 / 3;
}

.cart-item__buttons-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--favourite-button-color);
  border: 1px solid var(--cart-product-border-color);

  @include hover(border, 1px solid var(--button-hover-color));

  &:hover {
    cursor: pointer;
    background-color: var(--button-hover-bg-color);
  }
}

.icon--disabled {
  border: 1px solid var(--cart-product-disabled-color) !important;
  cursor: default;
  background-color: var(--card-layout-bg-color) !important;

  &:hover {
    border: 1px solid var(--cart-product-disabled-color) !important;
  }

  svg {
    color: var(--cart-product-disabled-color);
  }
}


.cart-item__count {
  margin: 0 25%;
}

.cart-item__price {
  font-family: 'Mont';
  font-size: 22px;
  line-height: 30.8px;
  font-weight: 800;
  color: var(--primary-color);
  margin: 1.5%;
  margin-left: auto;
  justify-self: end;
  grid-area: 2 / 3 / 3 / 5;
  position: relative;

  @include on-tablet {
    margin-left: 10%;
  }

  &::before {
    content: '$';
  }
}

// color={
//   isDisabled ? variables.iconColor : variables.primaryColor
// }
