@import '../../styles/utils/variables.scss';
@import '../../styles/utils/mixins.scss';    

.specs {
    @include on-tablet {
        margin-right: 32px;
    }
}

.specs__title {
    font-size: 20px;
    line-height: 25.56px;
    font-weight: 700;
}

.specs__title.line {
    font-size: 20px;
    line-height: 25.56px;
    font-weight: 700;
    margin-bottom: 48px;
    position: relative;
  }
  
  .line::before {
    content: '';
    position: absolute;
    bottom: -16px;
    width: 100%;
    border-bottom: $element-color solid 1px;
  }
  
  .specs__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .specs_subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: $secondary-color;

  }

  .specs_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: right;
    color: $primary-color;
  }
  
  .cell {
    align-self: flex-end;
  }